{
  "parserOptions": {
    "ecmaVersion": 2017
  },
  "env": {
    "es6": true,
    "mocha": true, // for test files
    "truffle/globals": true // same as "truffle/truffle": true
  },
  "plugins": ["truffle"]
}
